<html>
	<head>
		<link href="/media/info_page.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png"> 
		<title>Download eQuilibrator Data</title>
		{% include "analytics.html" %}
	</head>
	<body>
		<div class="container">
			<div class="logoSmall"><a href="/"><img src="/media/images/equilibrator_logo_small.png" /></a></div>
      <div class="title">Download eQuilibrator<sub>&beta;</sub> Data</div>

			<div class="section">
        <div class="title">Formats</div>
        
        <p>eQuilibrator data is available for download in several formats. 
          <ul>
            <li>
            JSON: lie <a href="http://www.json.org">JavaScript Object Notation</a> format is a
            lightly structured hierarchical format that is easily parsed in most programming languages.
            </li>
            <li>
            TSV: Tab-Separated Value format is a flat format that is mostly unstructured, easy to parse
            and easy to view in Excel and other spreadsheet programs. We use the
            <a href="http://www.semanticsbml.org/semanticSBML/default/sbtab_handling">SBTab</a> dialect of 
            TSV which helps provide some structure.
            </li>
          </ul>
        </p>

			</div>
			
			<div class="section">
        <div class="title">Compound Formation Energies</div>
        
        <p>
        The standard formation energies of biochemical compounds are available for downlaod in varying pH
        levels. These can be used to compute reaction equilibrium constants and free energies
        for various reactant concentrations. Note that all ionic strength to 0.0 for all the files linked
        below.
        </p>
    
        <ul>
          <li>pH 5: <a href="/media/downloads/compound_formation_energies_pH5.00_is0.000.json">JSON</a>, 
                    <a href="/media/downloads/compound_formation_energies_pH5.00_is0.000.tsv">TSV</a></li>
          <li>pH 5.5: <a href="/media/downloads/compound_formation_energies_pH5.50_is0.000.json">JSON</a>, 
                      <a href="/media/downloads/compound_formation_energies_pH5.50_is0.000.tsv">TSV</a></li>
          <li>pH 6: <a href="/media/downloads/compound_formation_energies_pH6.00_is0.000.json">JSON</a>, 
                    <a href="/media/downloads/compound_formation_energies_pH6.00_is0.000.tsv">TSV</a></li>
          <li>pH 6.5: <a href="/media/downloads/compound_formation_energies_pH6.50_is0.000.json">JSON</a>, 
                      <a href="/media/downloads/compound_formation_energies_pH6.50_is0.000.tsv">TSV</a></li>
          <li>pH 7: <a href="/media/downloads/compound_formation_energies_pH7.00_is0.000.json">JSON</a>, 
                    <a href="/media/downloads/compound_formation_energies_pH7.00_is0.000.tsv">TSV</a></li>
          <li>pH 7.5: <a href="/media/downloads/compound_formation_energies_pH7.50_is0.000.json">JSON</a>, 
                      <a href="/media/downloads/compound_formation_energies_pH7.50_is0.000.tsv">TSV</a></li>
          <li>pH 8: <a href="/media/downloads/compound_formation_energies_pH8.00_is0.000.json">JSON</a>, 
                    <a href="/media/downloads/compound_formation_energies_pH8.00_is0.000.tsv">TSV</a></li>
          <li>pH 8.5: <a href="/media/downloads/compound_formation_energies_pH8.50_is0.000.json">JSON</a>, 
                      <a href="/media/downloads/compound_formation_energies_pH8.50_is0.000.tsv">TSV</a></li>
          <li>pH 9: <a href="/media/downloads/compound_formation_energies_pH9.00_is0.000.json">JSON</a>, 
                    <a href="/media/downloads/compound_formation_energies_pH9.00_is0.000.tsv">TSV</a></li>
        </ul>

      </div>

			
    <div id="footer">
    {% include "about_links.html" %}
    </div>
    
    </div>

  </body>
</html>