body {
 	margin: 0;
 	padding: 0;
 	text-align: center;
}

.adminLink {
	font-size: 10px;
}

a {
 	color: #0066CC;
	text-decoration: none;
}

.errorMsg {
	background-color: #C00;
}

.warning {
	background-color: #FFF1A8;
}

.errorMsg, .warning {
	font-family: arial;
	border-radius: 5px;
	font-weight: bold;
	margin: 10px auto;
	padding: 3px;
	max-width: 450px;
}

#title {
	font-family: helevetica;
	font-size: 40px;
	font-weight: bold;
	margin: 15px auto;
}

#subtitle {
	font-family: helevetica;
	font-size: 24px;
}

.subscript {
  	font-size: 75%;
  	vertical-align: bottom;
}

#searchForm {
	margin: 15px auto;
}

#searchForm #queryField {
	height: 40px;
	font-size: 20px;
	width: 80%;
}

#searchForm #submitButton {
	height: 40px;
	font-size: 20px;
}

#examples table {
	margin: 30px auto;
	width: 650px;
}

#examples th {
	border-bottom: solid 1px black;
	text-align: center;
}

#examples a {
	color: #006633;
}

#searchOptions {
	margin: 5px;
}

.customConcentrations {
  display: none;
}

#advancedSettings {
	margin: 10px auto;
	width: 650px;
	display: none;
}

#advancedSettings table {
	width: 100%;
}

#searchResults {
	margin: 10px auto;
	width: 85%;
	text-align: left;
}

#searchResults .searchResult {
	display: block;
	margin: 10px;
	padding: 5px;
	border: solid 1px black;
}

#searchResults .searchResult:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#searchResults a:hover {
	background-color: #CCFFCC;
}

#searchResults .searchResult span {
	display: block;
	color: black;
	padding-left: 6px;
}

#searchResults .searchResult .name {
	color: #0066CC;
	padding-left: 0px;
}

#searchResults .searchResult .image {
	float: right;
}

#searchResults .image img {
	border: solid 1px black;
	max-height: 100px;
}

.parsedRxn, .compoundSelector, .compound {
	font-family: helevetica;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto;
}

table.results, table.compoundInfo, table.speciesInfo {
	margin: 10px auto;
	width: 750px;
	border: solid 1px black;
	padding: 2px;
}

td {
	vertical-align: top;
}

#footer {
	margin-top: 20px;
}

.autocomplete-w1 { background:url(/media/images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
