<table class="compoundInfo">
	<tr>
		<td width="150px">Formula</td>
		<td>{{ compound.html_formula|safe }}</td>
	</tr>
	<tr>
		<td width="150px">Common names</td>
		<td>
			{% for name in compound.all_common_names %}
			<div class="commonName">{{ name }}</div>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td>Mass (Da)</td>
		<td>{{ compound.mass }}</td>
	</tr>
	<tr>
		{% if compound.small_image_url %}
		<td width="150px">Structure</td>
		<td><img src="{{ compound.small_image_url }}" /></td>
		{% endif %}
	</tr>
	{% if compound.kegg_link %}
	<tr>	
		<td width="150px">Links</td>
		<td><a href="{{compound.kegg_link}}">KEGG &raquo;</a></td>
	</tr>
	{% endif %}
	{% if compound.note %}
		<td width="150px">Note</td>
		<td>{{compound.note}}
		{% if compound.details_link %}
		<a href="{{compound.details_link}}">More info &raquo;</a>
		{% endif %}
		</td>
	{% endif %}
</table>
{% if compound.unique_species_groups %}
<table class="speciesInfo">
	<tr>
		<th colspan="4">Species Formation Energies</td>		
	</tr>
	<tr class="speciesHeader">
		<td>Net Charge</td>
		<td>&Delta;<sub>f</sub>G&deg;</td>
		<td>&Delta;<sub>f</sub>G'&deg;</td>
		<td>Reference</td>
	</tr>

  {% for sg in compound.unique_species_groups %}
	{% for specie in sg.all_species %}
	<tr class="speciesSource {% if forloop.last and not forloop.parentloop.last %}last{%endif%}">
		<td>{{ specie.net_charge }}</td>
		<td>{{ specie.formation_energy|floatformat:1 }}</td>
		<td>{% if specie.transformed_energy %}
				{{ specie.transformed_energy|floatformat:1 }}
				{% else %}
					N/A
			{% endif %}
		</td>
		
		{% if forloop.first %}
		<td class="reference {% if not forloop.parentloop.last %}border{% endif %}" rowspan="{{ sg.all_species|length }}">
		<a href="/data_refs" title="Reference list">{{ sg.formation_energy_source }}</a>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	{% endfor %}
</table>
{% endif %}
