<html>
	<head>
		<link href="/media/info_page.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png"> 
		<title>Download eQuilibrator Data</title>
		{% include "analytics.html" %}
	</head>
	<body>
		<div class="container">
			<div class="logoSmall"><a href="/"><img src="/media/images/equilibrator_logo_small.png" /></a></div>
      		<div class="title">Download eQuilibrator<sub>&beta;</sub> Data</div>

		<div class="section">
        <div class="title">Formats</div>
        
        <p>eQuilibrator data is given in two formats. Tabular data is given as CSV and hierarchichal data is given in JSON.
          <ul>
            <li>
            JSON: the <a href="http://www.json.org">JavaScript Object Notation</a> format is a
            lightly structured hierarchical format that is easily parsed in most modern programming languages.
            </li>
            <li>
            CSV: Comma-Separated Value format is a flat format that is mostly unstructured, easy to parse
            and easy to view in Excel and other spreadsheet programs.
            </li>
          </ul>
        </p>

		</div>
			
		<div class="section">
        <div class="title">Compound Formation Energies</div>
        
        <p>
        The standard formation energies of biochemical compounds in the KEGG database are available for
        download at various pH levels. Note that ionic strength is set to 0.1 for all the files linked below.
        </p>
    
        <table class="downloadTable">
        	<tr>
        		<th>pH</th><th>Alberty Data</th><th>Group Contribution Data</th>
        	</tr>
        	{% for ph in ph_values %}
        	<tr>
        		<td>{{ph}}</td>
        		<td><a href="/media/downloads/kegg_compounds_alberty_pH{{ph}}.csv.gz">Download</a></td>
        		<td><a href="/media/downloads/kegg_compounds_pgc_pH{{ph}}.csv.gz">Download</a></td>
        	</tr>
        	{% endfor %}
          <tr>
        </table>

        <div class="title">Reaction Energies</div>
        
        <p>
        The standard Gibbs energies of biochemical reactions in the KEGG database are available for
        download at various pH levels as well. As above, ionic strength is set as 0.1 for all the
        files linked below. When a reaction energy cannot be computed, an explanation is given.
        </p>
        
        <table class="downloadTable">
        	<tr>
        		<th>pH</th><th>Alberty Data</th><th>Group Contribution Data</th>
        	</tr>
        	{% for ph in ph_values %}
        	<tr>
        		<td>{{ph}}</td>
        		<td><a href="/media/downloads/kegg_reactions_alberty_pH{{ph}}.csv.gz">Download</a></td>
        		<td><a href="/media/downloads/kegg_reactions_pgc_pH{{ph}}.csv.gz">Download</a></td>
        	</tr>
        	{% endfor %}
          <tr>
        </table>

      	</div>

			
    <div id="footer">
    {% include "about_links.html" %}
    </div>
    
    </div>

  </body>
</html>