<html>
	<head>
		<link href="/media/info_page.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png"> 
		<title>Download eQuilibrator Data</title>
		{% include "analytics.html" %}
	</head>
	<body>
		<div class="container">
			<div class="logoSmall"><a href="/"><img src="/media/images/equilibrator_logo_small.png" /></a></div>
			<div class="section about">
				<div class="title">Download eQuilibrator<sub>&beta;</sub> Data</div>
        
        <p>eQuilibrator data is available for download in several forms and formats. </p>

        <p></p>
			</div>
			
    <div id="footer">
    {% include "about_links.html" %}
    </div>
    
    </div>

  </body>
</html>