<div id="examples">
	<table>
		<tr><th colspan="2">Examples</th></tr>
		<tr>
			<td>Compounds</td>
			<td>Reactions</td>
		</tr>
		<tr>
			<td><a href="/search?query=Glucosamine">Glucosamine</a></td>
			<td><a href="/search?query=2+H2O+%3C%3D%3E+2+H2+%2B+O2&temp=199&ph=7.0&ionic_strength=0.15">2 H2O <=> 2 H2 + O2</a></td>
		</tr>
		<tr>
			<td><a href="/search?query=alpha-Ketoglutaric+acid">alpha-Ketoglutaric acid</a></td>
			<td><a href="/search?query=4+xylulose-5-phosphate+%3D>+4+ribulose+5-phosphate">4 xylulose-5-phosphate => 4 ribulose 5-phosphate</a></td>
		</tr>
		<tr>
			<td><a href="/search?query=Succinyl-CoA">Succinyl-CoA</a></td>
			<td><a href="/search?query=glucose+%3D+2+ethanol+%2B+2+co2">glucose = 2 ethanol + 2 co2</a></td>
		</tr>
	</table>
</div>