<html>
	<head>
		<title>{{ title }}</title>
		<link href="/media/style.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
	</head>
	<body>
	
	{% include "search_form.html" %}
	
	{% if error_msg %}
		<div class="errorMsg">{{ error_msg|safe }}</div>
	{% endif %}
	{% if warning %}
		<div class="warning">{{ warning|safe }}</div>
	{% endif %}