{% with "Reaction" as title %}
	{% include "header.html" %}
{% endwith %}

	<form name="reactionForm" action="/reaction" method="get">
		<input type="hidden" name="query" value="{{ query }}" />
		<div class="parsedRxn">
			{% for compound in reaction.reactants %}
				{% with "reactants" as reaction_side %}
					{% include "compound_in_reaction.html" %}
				{% endwith %}
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
			&rarr;
			{% for compound in reaction.products %}
				{% with "products" as reaction_side %}
					{% include "compound_in_reaction.html" %}
				{% endwith %}
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
		</div>
		
		{% with "&Delta;<sub>r</sub>G'&deg;" as delta_g_label %} 
			{% include "result_table.html" %}
		{% endwith %}
	
		<input type="submit" value="Update" />
	</form>
	
	{% include "search_form.html" %}

{% include "footer.html" %}