<div id="searchForm">
	<form name="searchForm" action="/search" method="get">
		<div>
			{% if query %}
				<input type="text" name="query" id="queryField" value="{{ query }}" />
				{% else %}
				<input type="text" name="query" id="queryField" />
			{% endif %}

			<input type="submit" id="submitButton" value="Search" />
		</div>
		{% if show_advanced %}
		<div id="searchOptions">
			<a href="#" id="advancedSettingsLink">Advanced Settings</a>
		</div>
		<div id="advancedSettings" style="">
			<table width="100%">
				<tr>
					<td width="120px">
						Temperature (K):
					</td>
					<td width="50px">
						<input type="text" name="temp" id="tempField" value="300.0" size="5"/>
					</td>
					<td><div id="tempSlider"></div></td>
				</tr>
				<tr>
					<td width="120px">
						pH:
					</td>
					<td width="50px">
						<input type="text" name="ph" id="phField" value="7.0" size="5"/>
					</td>
					<td><div id="phSlider"></div></td>
				</tr>
				<tr>
					<td width="120px">
						Ionic strength (M):
					</td>
					<td width="50px">
						<input type="text" name="ionic_strength" id="ionStrengthField" value="0.1" size="5"/>
					</td>
					<td><div id="ionStrengthSlider"></div></td>
				</tr>
			</table>
		</div>
		{% endif %}
	</form>
</div>