<html>
	<title>Deleted pending primers</title>
    <head>
        <center><a href="../search/"><img src="/media/capture.jpg" alt="Primero"/></a></center>
    </head>
<body>
    <h2 align="center">The following primers have been deleted: </h2>
    <center>
    <ul>
    {% for item in primers_list %}
        <li>{{item.name}}</li>
    {% endfor %}
    </ul>
    </center>
    <p align="center">
        <a href="../pending/">Continue to submit/delete</a>
    </p>

</body>
</html>
