<html>
    <title>Primero Results</title>
    <head>
        <center><a href="../search/"><img src="/media/capture.jpg" alt="Primero"/></a></center>
    </head>
<body>
    <center>
    <img src="/media/gmail-icon.png" width="100" height="100" border="0" alt="some_text"/>
    </center>
    </br></br></br></br>
    <h3 align="center">Gmail Login</h3>
    <center>    
    <form action="../fetchmail/" method="POST">
        username: <input type="text" name="email" size="25" /></br>
        password: <input type="password" name="password" size="25" /></br>
        <input type="submit" value="Submit" />
    </form>
    </center>
</body>
</html>
