<html>
    <title>Primero Results</title>
    <head>
        <center><a href="../search/"><img src="/media/logo.png" alt="Primero"/></a></center>
    </head>
<body>
    <center>
    <img src="/media/pdf_upload.png" width="100" height="100" border="0" alt="upload PDF"/>
    </center>
    </br></br></br></br>
    
    <center>
    <form action="../upload/" enctype="multipart/form-data" method="post">
        Select PDF for uploading:
        <input type="file" name="file" size="40">
        <input type="submit" value="Send">
    </form>
    </center>

</body>
</html>
