<html>
	<head>
		<title>Group-level Stats</title>
		<style type="text/css">
		.group .name {
			font-size: 20px;
			color: green;
		}

		.toc {
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 20px;
		}

		.section .title {
			font-size: 30px;
			margin-bottom: 10px;
		}
		
		.rareGroupsSegment {
			margin-bottom: 30px;
		}
		
		.rareGroupsSegment .title {
			font-weight: bold;
			font-size: 24px;
		}
		</style>
	</head>
	<body>
	
	<div class="toc">Table of Contents
		<ul class="toc">
			<li><a href="#histo">Groups Histogram</a></li>
			<li><a href="#rareGroups">Rarest Groups</a></li>
			<li><a href="#commonGroups">Most Common Groups</a></li>
			<li><a href="#commonPairs">Most Common Pairs of Groups</a></li>
			<li><a href="#linearDepPairs">Linearly Dependent Pairs of Groups</a></li>
		</ul>
	</div>

	<a name="histo" />
	{% if histo_image_name %}
	<img src="{{ histo_image_name }}" />
	{% endif %}

	
	<a name="rareGroups" />
	<div class="section">
		<div class="title">Rare Groups</div>
	{% for rare_groups in rare_groups_by_count %}
	<div class="rareGroupsSegment">
		<div class="title">Groups With {{rare_groups.count}} Examples</div>
		{% if rare_groups.groups %}
		{% for g in rare_groups.groups %}
			<div class="group">
				<div class="name">{{g.group}}</div>
				<ul>
				{% for pisomer in g.pseudoisomers %}
					<li>{{pisomer}}</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
		{% else %}
			No such groups
		{% endif %}
	</div>
	{% endfor %}
	</div>
	
	<a name="commonGroups" />
	<div class="section">
		<div class="title">Most Common Groups</div>
		{% for group_data in most_common_groups %}
		<div class="group">
			<div class="name">{{group_data.group}}</div>
			<div><ul><li>{{ group_data.count }} occurrences</li></ul></div>
		</div>
		{% endfor %}
	</div>
	
	<a name="commonPairs" />
	<div class="section">
		<div class="title">Most Common Pairs of Groups</div>
		{% for pair_data in frequent_pairs %}
		<div class="group">
			<div class="name">
			{% for group in pair_data.groups %}
				{{ group }} {% if not forloop.last %} x {% endif %}
			{% endfor %}
			</div>
			<div><ul><li>{{ pair_data.count }} occurrences</li></ul></div>
		</div>
		{% endfor %}
	</div>
	
	<a name="linearDepPairs" />
	<div class="section">
		<div class="title">Linearly Dependent Pairs of Groups</div>
		{% for pair_data in ratio_preserving_pairs %}
		<div class="group">
			<div class="name">
			{% for group in pair_data.groups %}
				{{ group }} {% if not forloop.last %} x {% endif %}
			{% endfor %}
			</div>
			<div>
			<ul>
				<li>{{ pair_data.ratio }} ratio</li>
				<li>{{ pair_data.count }} occurrences</li>
			</ul>
			</div>
			<div>Occurs in
			<ul>
				{% for pisomer in pair_data.pisomers %}
				<li>{{ pisomer }}</li>
				{% endfor %}
			</ul>
			</div>
		</div>
		{% endfor %}
	</div>
	
	</body>
</html>