<html>
    <title>Primero Results</title>
    <head>
        <center><a href="../search/"><img src="/media/logo.png" alt="Primero"/></a></center>
    </head>
<body>
    </br></br></br></br>
    
    <center>
    <form action="../query/" method="get">
        <input type="text" name="query" size="55"/>
        <input type="submit" value="Search"/>
    </form>
    </center>
    <p align="center">
        <font size=2>currently maintaining <b>{{n_primers}}</b> primer locations</font>
    </p>

    </br></br></br></br>

    <center>
    
    <table border="0">
        <tr>
            <td width=200><center><a href="../upload/"><img src="/media/pdf_upload.png" width="100" height="100" border="0" alt="upload PDF"/></a></center></td>
            <td width=200><center><a href="../fetch_login/"><img src="/media/gmail-icon.png" width="100" height="100" border="0" alt="some_text"/></a></center></td>
            <td width=200><center><a href="../pending"><img src="/media/pending.png" width="100" height="100" border="0" alt="some_text"/></a></center></td>
        </tr>
        <tr>
            <td><center>Upload PDF</center></td>
            <td><center>Fetch from</br>Gmail</center></td>
            <td><center>Handle Pending</br>Primers ({{n_pending}})</center></td>
        </tr>
    </table>        
    </center>

</body>
</html>
