<html>
	<head>
		<title>Compound Results</title>
		<link href="/media/style.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
	</head>
	<body>
	<form name="compoundForm" action="/compound" method="get">
		<div class="compound">
			<input type="hidden" name="compoundId" value="{{ compound.kegg_id }}" />
			{{ compound }}
		</div>
		
		{% include "result_table.html" %}
	
		<input type="submit" value="Update" />
	</form>
	</body>
</html>