<table class="compoundInfo">
	<tr>
		<td width="150px">Formula</td>
		<td>{{ compound.html_formula|safe }}</td>
	</tr>
	<tr>
		<td width="150px">Common names</td>
		<td>
			{% for name in compound.all_common_names %}
			<div class="commonName">{{ name }}</div>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td>Mass (Da)</td>
		<td>{{ compound.mass }}</td>
	</tr>
	<tr>
		{% if compound.small_image_url %}
		<td width="150px">Structure</td>
		<td><img src="{{ compound.small_image_url }}" /></td>
		{% endif %}
	</tr>
	<tr>
		{% if compound.kegg_link %}
		<td width="150px">KEGG Link</td>
		<td><a href="{{kegg_link}}">{{compound.kegg_link}}</a></td>
		{% endif %}
	</tr>
</table>
{% if compound.all_species %}
<table class="speciesInfo">
	<tr>
		<th colspan="4">Species Formation Energies</td>		
	</tr>
	<tr>
		<td>Net Charge</td>
		<td>&Delta;<sub>f</sub>G&deg;</td>
		<td>&Delta;<sub>f</sub>G'&deg;</td>
		<td>Source</td>
	</tr>
	{% for specie in compound.all_species %}
	<tr>
		<td>{{ specie.net_charge }}</td>
		<td>{{ specie.formation_energy.value|floatformat:1 }}</td>
		<td>{% if specie.transformed_energy %}
				{{ specie.transformed_energy|floatformat:1 }}
				{% else %}
					N/A
			{% endif %}
		</td>
		<td>{{ specie.formation_energy.source }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
