{% with compound.coeff|default:1 as coeff %}
  <input type="hidden" name="{{ reaction_side }}Coeff" value="{{ coeff }}" />
{% endwith %}
  
{% with compound.compound as c %}
  <input type="hidden" name="{{ reaction_side }}Id" value="{{ c.kegg_id }}" />
  <input type="hidden" name="{{ reaction_side }}Name" value="{{ compound.name }}" />
  
  {% if compound.coeff > 1 %}
  	{{ compound.coeff }}
  {% endif %}
  
  <a href="{{ c.link }}" title="{{ c.formula }}">
  	 {% if c.preferred_name %} {{ c.preferred_name }} 
  	 {% else %} {{ compound.name }} {% endif %}
  </a>
{% endwith %}