<table class="enzymeInfo">
	<tr>
		<td width="150px">Common names</td>
		<td>
			{% for name in enzyme.all_common_names %}
			<div class="commonName">{{ name }}</div>
			{% endfor %}
		</td>
	</tr>
	{% if enzyme.kegg_link %}
	<tr>
		<td width="150px">KEGG Link</td>
		<td><a href="{{enzyme.kegg_link}}">{{enzyme.kegg_link}}</a></td>
	</tr>
	{% endif %}
</table>
{% if enzyme.all_reactions %}
<table class="reactionsInfo">
	<tr>
		<th>Reactions</td>		
	</tr>
	{% for reaction in enzyme.all_reactions %}
	<tr>
		<td><a href="{{reaction.link}}">{{reaction.reaction_string}}</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}
