<div class="examples">
	<table>
		<tr><th colspan="2">Examples</th></tr>
		<tr>
			<td>Reactions (&Delta;G<sub>r</sub>)</td>
			<td>Compounds (&Delta;G<sub>f</sub>)</td>
		</tr>
		<tr>
			<td><a href="/search?query=glucose+%3D+2+ethanol+%2B+2+co2">glucose = 2 ethanol + 2 co2</a></td>
			<td><a href="/search?query=Glucose">Glucose</a></td>
		</tr>
		<tr>
			<td><a href="/search?query=oxaloacetate+%2B+acetyl+coa+%2B+h2o+<%3D>+citrate+%2B+coa-sh&temp=300.0&ph=7.0&ionic_strength=0.1">oxaloacetate + acetyl coa + h2o <=> citrate + coa-sh</a></td>
			<td><a href="/search?query=alpha-Ketoglutaric+acid">alpha-Ketoglutaric acid</a></td>
		</tr>
		<tr>
			<td><a href="/search?query=L-Malate+%2B+NAD%2B+%3D>+Oxaloacetate+%2B+NADH+%2B+H%2B">L-Malate + NAD+ => Oxaloacetate + NADH + H+</a></td>
			<td><a href="/search?query=Succinyl-CoA">Succinyl-CoA</a></td>
		</tr>
	</table>
</div>