<html>
	<head>
		<link href="/media/info_page.css" rel="stylesheet" type="text/css">
		<title>eQuilibrator FAQ</title>
    {% include "analytics.html" %}
	</head>
	<body>
		<div class="container">
			<div class="logoSmall"><a href="/"><img src="/media/images/equilibrator_logo_small.png" /></a></div>
			<div class="title">Frequently Asked Questions</div>
			<div class="faqEntry" id="compoundSearch">
				<div class="faqQuestion">How do I search for a compound or enzyme?</div>
				
				<div class="faqAnswer">
				<p>You can search for a compound or enzyme by entering their common name into the search box.
				As you type, you should see a list of potential matches, which should give you a sense of what eQuilibrator
				thinks you are looking for. To the right of each suggestion you will see they type of the match: "Compound" or "Enzyme".
				
			  Complete your search by selecting a compound or enzyme from the list or typing the name in full.
				When you've finished typing your query, click 'Search' or press 'Enter' to see search results.</p>
				
				<p>The search results page shows the top matches for your query. Results are shown in two sections: one for compounds 
				and another for enzymes. If you're interested in a compound, click on it to see more details and to change the 
				conditions of &Delta;<sub>f</sub>G estimation. If you're interested in an enzyme, click on the enzyme name to 
				see detailed information about it. If you want to explore the thermodynamics of an enzyme-catalyzed reaction,
				choose a reaction listed under the enzyme name to get a &Delta;<sub>r</sub>G estimation</p>.
				</div>
			</div>
			
			<div class="faqEntry" id="rxnSearch">
				<div class="faqQuestion">How do I search for a reaction?</div>
				
				<div class="faqAnswer">
				<p>You can search for a reaction by entering an (almost) free-text string of the reaction.
				For example, you can type "glucose = 2 ethanol + 2 co2".</p>
				
				<p>In general, write your reaction using " = " to separate the reactants from the products.
				The spaces around " = " are required. Always use spaces before and after compound names, "+"
				and stoichiometric coefficients.</p>
				</div>
			</div>
			
			<div class="faqEntry" id="notAvailable">
				<div class="faqQuestion">Why is &Delta;G "not available?"</div>
				
				<div class="faqAnswer">
				<p>There are several reasons that a &Delta;G value might not be available.</p>
				
				<p>&Delta;<sub>f</sub>G is very difficult to measure experimentally. We use the group contribution
				method to estimate &Delta;<sub>f</sub>G for compounds that have not been characterized experimentally [3-4].
				However, we need certain data about a compound in order to approximate &Delta;<sub>f</sub>G.</p>

				<p>Our list of compounds is taken from the Kyoto Encyclopedia of Genomes and Genes (<a href="http://www.kegg.jp">KEGG</a>) [5].
				Occasionally, KEGG compound entries don't contain an InChI identifier. Without an InChI identifier we cannot 
				compute the structure of the compound and without structural information we can't estimate &Delta;<sub>f</sub>G.</p>
				
				<p>In some cases, a compound may contain a group that was not observed in any of the compounds that have experimental
				&Delta;<sub>f</sub>G measurements. We cannot produce estimates for these compounds as we cannot estimate the contribution
				of unknown groups. In other cases, our algorithm for analyzing compound structure fails to decompose the compound
				into groups. If we are unable to decompose the compound then we cannot use the group contribution method.</p>
				
				<p>Moreover, we can't estimate &Delta;<sub>r</sub>G for any reaction that contains a compound that we cannot estimate
				&Delta;<sub>f</sub>G for.</p>
	
				</div>
			</div>
	
			<div class="faqEntry" id="stdConditions">
				<div class="faqQuestion">What are "standard conditions?"</div>
				
				<div class="faqAnswer">
				<p>"Standard conditions" implies that all substrates and products of a reaction are at 1 M concentration.
				If their concentrations are different, it will affect the &Delta;<sub>r</sub>G.</p>
				</div>
			</div>

			<div class="faqEntry" id="hConcentration">
				<div class="faqQuestion">Why can't I change the concentration of Hydrogen ions?</div>
				
				<div class="faqAnswer">
				<p>eQuilibrator uses the "Alberty method" for biochemical thermodynamics.
				In the Alberty method, H+ is defined to have 0 free energy [1-2].
				Instead of correcting for H+ concentration, a pH correction accounts for the abundance of H+.
				You can use the pH "slider" to see the effect of H+ concentration on your reaction. 
				</p>
				</div>
			</div>
			
			<div class="faqEntry" id="waterConcentration">
				<div class="faqQuestion">Why can't I change the concentration of water?</div>
				
				<div class="faqAnswer">
				<p>In the "Alberty method" for biochemical thermodynamics it is assumed that we are operating in an 
				aqueous environment [1-2]. Therefore, the concentration of water is fixed.
				</p>
				</div>
			</div>
			
			<div class="faqEntry" id="changeTemp">
				<div class="faqQuestion">Why can't I change the temperature?</div>
				
				<div class="faqAnswer">
				<p>The temperature is fixed at 25 &deg;C (298.15 K) for all &Delta;G values given.
				
				The group contribution method allows us to approximate &Delta;<sub>f</sub>G of compounds at
				a particular temperature (the temperature at which they were measured). As the change in free energy
				is defined as &Delta;G = &Delta;H - T&Delta;S and we don't know the value of &Delta;S in most cases, we
				cannot predict how temperature will affect &Delta;<sub>f</sub>G.
				</p>
				</div>
			</div>
			
      <div class="faqEntry" id="aqueousCO2">
        <div class="faqQuestion">What is CO<sub>2</sub>(aq)?</div>
        
        <div class="faqAnswer">
        <p>CO2(aq) is a collection of four species - solvated CO2, carbonic acid, bicarbonate and carbonate.
        Since this collection refers to hydrated form of CO2, reactions that are traditionally written with CO2
        should be balanced an additional water molecule.</p>

        <p>It is often assumed that dissolved CO<sub>2</sub> is found in equilibrium with
        all of its hydrated forms: bicarbonate, carbonate and carbonic acid. Because of this 
        equilibrium, these species must be considered together. Reactions that consume or produce
        bicarbonate, for example, alter the population of this equilibrated pool. Removing the pool
        from equilibrium has an energetic cost. This cost must be considered when examining the 
        thermodynamics of reactions involving CO2 and its species.</p>
        </div>
      </div>
			
			{% include "references.html" %}
		</div>
		
	</body>
</html>