<html>
	<head>
		<link href="/media/info_page.css" rel="stylesheet" type="text/css">
		<title>eQuilibrator FAQ</title>
	</head>
	<body>
		<div class="container">
			<div class="faqEntry" id="compoundSearch">
				<div class="faqQuestion">How do I search for a compound?</div>
				
				<div class="faqAnswer">
				<p>You can search for a compound by entering a common name of the compound.
				As you type, you should see a list of potential matches, which should give you a sense of what eQuilibrator
				thinks you are looking for. You can select a compound from the list or type the name in full.
				Either way, hit 'Search' when you are done typing the compound name.</p>
				
				<p>You should see up to 5 compounds on the search results page. These are the top matches for your query.
				If the compound you're interested in is present, click on it to see more details and to change the 
				conditions of &Delta;<sub>f</sub>G estimation.</p>
				</div>
			</div>
			
			<div class="faqEntry" id="rxnSearch">
				<div class="faqQuestion">How do I search for a reaction?</div>
				
				<div class="faqAnswer">
				<p>You can search for a reaction by entering an (almost) free-text string of the reaction.
				For example, you can type "glucose = 2 ethanol + 2 co2".</p>
				
				<p>In general, write your reaction using " = " to separate the two sides of the reaction.
				Always use spaces to before and after compound names, "+" and stoichiometric coefficients.</p>
				</div>
			</div>
			
			<div class="faqEntry" id="notAvailable">
				<div class="faqQuestion">Why is &Delta;G "not available?"</div>
				
				<div class="faqAnswer">
				<p>There are several reasons that a &Delta;G value might not be available.</p>
				
				<p>&Delta;<sub>f</sub>G is very difficult to measure experimentally. We use the group contribution
				method to estimate &Delta;<sub>f</sub>G for compounds that have not been characterized experimentally [3-4].
				However, we need certain data about a compound in order to approximate &Delta;<sub>f</sub>G.</p>
				
				<p>Our list of compounds is taken from the Kyoto Encyclopedia of Genomes and Genes (<a href="http://www.kegg.jp">KEGG</a>) [5].
				Occasionally, KEGG compound entries don't contain an InChI identifier. Without an InChI identifier we cannot 
				compute the structure of the compound and without structural information we can't estimate &Delta;<sub>f</sub>G.</p>
				
				<p>In some cases, a compound may contain a group that was not observed in any of the compounds that have experimental
				&Delta;<sub>f</sub>G measurements. We cannot produce estimates for these compounds as we cannot estimate the contribution
				of unknown groups. In other cases, our algorithm for analyzing compound structure fails to decompose the compound
				into groups. If we are unable to decompose the compound then we cannot use the group contribution method.</p>
				
				<p>Moreover, we can't estimate &Delta;<sub>r</sub>G for any reaction that contains a compound that we cannot estimate
				&Delta;<sub>f</sub>G for.</p>
	
				</div>
			</div>
	
			<div class="faqEntry" id="stdConditions">
				<div class="faqQuestion">What are "standard conditions?"</div>
				
				<div class="faqAnswer">
				<p>"Standard conditions" implies that all substrates and products of a reaction are at 1 M concentration.
				If their concentrations are different, it will affect the &Delta;<sub>r</sub>G.</p>
				</div>
			</div>

			<div class="faqEntry" id="hConcentration">
				<div class="faqQuestion">Why can't I change the concentration of Hydrogen ions?</div>
				
				<div class="faqAnswer">
				<p>eQuilibrator uses the "Alberty method" for biochemical thermodynamics.
				In the Alberty method, H+ is defined to have 0 free energy [1-2].
				Instead of correcting for H+ concentration, a pH correction accounts for the abundance of H+.
				You can use the pH "slider" to see the effect of H+ concentration on your reaction. 
				</p>
				</div>
			</div>
			
			<div class="faqEntry" id="waterConcentration">
				<div class="faqQuestion">Why can't I change the concentration of water?</div>
				
				<div class="faqAnswer">
				<p>In the "Alberty method" for biochemical thermodynamics it is assumed that we are operating in an 
				aqueous environment [1-2]. Therefore, the concentration of water is fixed.
				</p>
				</div>
			</div>
			
			{% include "references.html" %}
		</div>
		
	</body>
</html>