<html>
	<head>
		<title>Compound and Reaction Search</title>
		<link href="/media/style.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
	</head>
	<body>
	<div id="title">rxn</div>

	{% with "True" as show_advanced %}
		{% include "search_form.html" %}
	{% endwith %}
	
	{% include "examples.html" %}
	</body>
</html>