<html>
	<head>
		<title>Compound and Reaction Search</title>
		<link href="/media/main.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
	</head>
	<body>
	
	<div class="centerize">
	
		<div class="logo">
			<img src="/media/images/equilibrator_logo.png" />
		</div>
			
		<div id="searchForm">
			<form name="searchForm" action="/search" method="get">
				<div>
					<input type="text" name="query" id="queryField" />
					<input type="submit" id="submitButton" value="Search" />
				</div>
			</form>
			<div class="directions">
				Type a <b>compound name</b> or <b>reaction</b> or try an <b>example</b> below.
			</div>
		</div>
		
		{% include "examples.html" %}
		
		<div id="footer">
			{% include "about_links.html" %}
		</div>
	</div>
	
	</body>
</html>