{% with "Reaction" as title %}
	{% include "header.html" %}
{% endwith %}

	<div class="centerize">

	{% if not reaction.is_balanced %}
		<div class="warning">Reaction is not balanced!
		{% if reaction.balanced_with_water and balance_with_water_link %}
		<a href="{{ balance_with_water_link }}">Balance with water?</a>
		{% endif %}
		</div>
		{% else %}
			{% if not reaction.is_electron_balanced %}
			<div class="warning">Electrons are not balanced!
			{% if balance_electrons_link and reaction.can_balance_electrons %}
			<a href="{{ balance_electrons_link }}">Balance with NADH?</a>
			{% endif %}
			</div>
			{% endif %}
	{% endif %}

	<form id="rxnForm" name="reactionForm" action="/reaction" method="get">
		<input type="hidden" name="query" value="{{ query }}" />
		<div class="parsedRxn">
			{% for compound in reaction.reactants %}
				{% with "reactants" as reaction_side %}
					{% include "compound_in_reaction.html" %}
				{% endwith %}
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
			
			{% if reaction.missing_atoms %}
				+
				{% for atom, count in reaction.missing_atoms %}
					<span class="missingCount">{{ count }}</span>
					{% if reaction.balanced_with_water %}
					<span class="missingAtom">Water</span>
					{% else %}
					<span class="missingAtom">{{ atom }}</span>
					{% endif %}
				{% endfor %}
			{% endif %}
			
			{% if reaction.missing_electrons and reaction.is_balanced %}
				+ <span class="missingCount">{{ reaction.missing_electrons }}</span>
				  <span class="missingAtom">e<sup>-</sup></span>
			{% endif %}
			
			&rarr;
			{% for compound in reaction.products %}
				{% with "products" as reaction_side %}
					{% include "compound_in_reaction.html" %}
				{% endwith %}
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
			
			{% if reaction.extra_atoms %}
				+
				{% for atom, count in reaction.extra_atoms %}
					<span class="missingCount">{{ count }}</span>
					{% if reaction.balanced_with_water %}
					<span class="missingAtom">Water</span>
					{% else %}
					<span class="missingAtom">{{ atom }}</span>
					{% endif %}
				{% endfor %}
			{% endif %}
			
			{% if reaction.extra_electrons and reaction.is_balanced %}
				+ <span class="missingCount">{{ reaction.extra_electrons }}</span>
				  <span class="missingAtom">e<sup>-</sup></span>
			{% endif %}
		</div>
		
		{% with "&Delta;<sub>r</sub>G'&deg;" as delta_g_label %} 
			{% include "result_table.html" %}
		{% endwith %}
		
		{% if reaction.all_compounds %}
		<table class="compoundInfo">
			<tr>
				<th colspan="3">Compound Formation Energies</td>		
			</tr>
			<tr>
				<td>Compound</td>
				<td>&Delta;<sub>f</sub>G'&deg;</td>
				<td>Source</td>
			</tr>
			{% for compound in reaction.all_compounds %}
			<tr>
				<td><a href="{{ compound.compound.link }}">{{ compound.name }}</a></td>
				<td>{{ compound.transformed_energy|floatformat:1 }}</td>
				<td>{{ compound.compound.dg_source }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	
		<input type="submit" name="submit" value="Update" onclick="form.target = '_self';"/> <input type="submit" name="submit" value="Save" onclick="form.target = '_blank';"/>
	</form>
	
	</div>

{% include "footer.html" %}